{{ indent = 4 }}

<body>
	<!-- Title -->
	{% if command.toplevel %}
	<div>
		<h3>{{ app.name }}</h3>
		<p style="margin-left: {{ indent }};">
			{{ localize.version }} {{ app.version }}			
		</p>

		{% if app.preamble %}
		<br>
		<p>
			{{ app.preamble }}
		</p>
		{% endif %}
	</div>
	{% endif %}

	<!-- Usage -->
	<div>
		<h6>{{ localize.usage }}:</h6>
		<p style="margin-left: {{ indent }};">
			{{ command.usage }}	
		</p>
	</div>

	<!-- Commands -->
	{% if command.commands %}
	<div>
		<h6>{{ localize.commands }}:</h6>
		
		<div style="margin-left: {{ indent }};">
			<table>
				{% for cmd in command.commands %}
				<tr>
					<td style="white-space: nowrap;">
						{{ cmd.name }}
					</td>
					<td>
						{{ cmd.documentation }}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endif %}

	<!-- Commands -->
	{% if command.options %}
	<div>
		<h6>{{ localize.options }}:</h6>
		
		<div style="margin-left: {{ indent }};">
			<table>
				{% for opt in command.options %}
				<tr>
					<td style="white-space: nowrap;">
						{{ opt.shortcuts }}
					</td>
					<td>
						{{ opt.documentation }}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endif %}

</body>